#code {
  height: 26px;
  position: absolute;
  left: 660px;
  top: 80px;
  width: 360px;
  background-color: #e8e9e9;
  color: black;
  overflow: scroll;
}

div#look {
  height: 50px;
  position: absolute;
  left: 1060px;
  top: 80px;
  width: 380px;
  background-color: pink;
  overflow: scroll;
}
