body {
  margin: 0px; /*边距*/
  background-color: black; /*背景颜色*/
  color: white; /*字体颜色*/
}

.panel {
  width: 75%; /*宽度*/
  margin: 50px auto; /*居中*/
}

#editor {
  width: 100%; /*宽度*/
  height: 300px; /*高度*/
  border-radius: 5px; /*圆角*/
}

.button-panel {
  display: flex; /*弹性盒*/
  justify-content: space-between; /*对齐方式*/
  align-items: center; /*居中*/
  margin-top: 10px; /*边距*/
}

.button {
  background-color: #4e4e4e; /*背景颜色*/
  padding: 10px 20px; /*内边距*/
  border: none; /*隐藏边框*/
  border-radius: 5px; /*圆角*/
  color: white; /*字体颜色*/
}

.dropdown {
  position: relative; /*定位*/
  display: inline-block; /*行内块级元素*/
}

.dropdown-content {
  position: absolute; /*绝对定位*/
  background-color: green; /*背景颜色*/
  border-radius: 2px; /*圆角*/
  top: 40px; /*边距*/
  right: 0px;
  display: none; /*隐藏*/
}

.dropdown-content a {
  padding: 10px; /*内边距*/
  text-decoration: none; /*下划线去除*/
  display: block; /*块级*/
}

.dropdown:hover 
.dropdown-content {
  display: block; /*显示下拉框*/
}