#code {
    display: none;
    height: 900px;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #1D1F21;
    color: white;
    overflow: scroll;
    padding: 50px;
    z-index: 99;
}

div#look {
    /* display: none; */
    height: 70%;
    position: absolute;
    top: calc(15% + 5px);
    left: 14.5%;
    width: 22%;
    outline: rgb(22, 93, 255) solid 2px;
    border-radius: 18px;
    padding: 10px;
    background-color: #f0f1ec;
    /* overflow: scroll; */
}

div#look_pos {
    height: 70%;
    position: absolute;
    top: calc(15% + 5px);
    left: 14.5%;
    width: 22%;
    padding: 10px;
    /* visibility: hidden; */
    /* pointer-events: none; */
    /* background-color: #1D1F21; */
    opacity: 0;
}

div#package_list{
    position: absolute;
    top: calc(20% + 5px);
    left: 1.25%;
    background-color: #ffffff65;
    height: 60%;
    width: 8%;
    backdrop-filter: blur(20px);
    border-radius: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

div#code_list{
    position: absolute;
    top: calc(10% + 5px);
    left: 21%;
    background-color: #ffffff65;
    height: 1.5%;
    width: 8%;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    gap: 24px;
    margin-bottom: 8px;
}

div#package_list .move-card{
    background-color: rgb(204, 217, 227);
    height: 10%;
    width: 80%;

    margin-bottom: 10%;

    padding: 10px;

    border-radius: 18px;
}

div#package_list .move-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: #ffffff65;
}

div#n {
    height: 1px;
    position: absolute;
    left: 1060px;
    top: 80px;
    width: 380px;
    background-color: pink;
    overflow: scroll;
    display: none;
    opacity: 0;
}

.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocklyTreeRow {
    height: initial;
}