div#code {
  height: 50px;
  position: absolute;
  left: 680px;
  top: 80px;
  width: 380px;
  background-color: #008b8b;
  color: white;
  overflow: scroll;
}

div#look {
  height: 50px;
  position: absolute;
  left: 1080px;
  top: 80px;
  width: 380px;
  background-color: pink;
  overflow: scroll;
}
