@font-face {
    font-family: CaskaydiaCoveNerdFont;
    src: url(../font/CaskaydiaCoveNerdFontMono-Bold.ttf);
    font-weight: 400;
    font-style: normal
}

.navbar,
div#nav {
    left: 0;
    width: 100%;
    padding: 10px;
    position: fixed
}

div#nav {
    bottom: 0;
    background-color: #f8f8f8
}

.navbar {
    top: 0;
    height: 56px;
    background-color: #2196f3;
    box-sizing: border-box;
    z-index: 9998;
    text-align: center;
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: flex-start
}

.navbar li a,
.navbar ul,
div#nav {
    display: flex;
    justify-content: center;
    align-items: center
}

.navbar ul {
    font-size: 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%
}

.navbar li a {
    padding: 15px 10px;
    cursor: pointer
}

.navbar li a svg {
    height: 20px;
    width: 20px;
    fill: #fff
}

@font-face {
    font-family: consola;
    src: url(../font/consola.ttf);
    font-weight: 400;
    font-style: normal
}

#copy {
    font-family: CaskaydiaCoveNerdFont, serif;
    font-size: 12px
}

#code {
    font-family: consola, serif
}

#start_page,
body,
html {
    width: 100%;
    height: 100%
}

body {
    background-color: #eee
}

* {
    margin: 0
}

#start_page {
    background-color: #16baaa;
    top: 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    position: fixed;
    z-index: 9999
}

#start_page h1 {
    margin-bottom: 20px;
    font-size: 80px
}

#start_page h3 {
    font-size: 50px
}

#qq {
    background-color: #6d50f0;
    bottom: 20px;
    left: 30px;
    z-index: 9998;
    padding: 7px
}

#dao,
#html_editor,
#markdown,
#qq {
    border-radius: 10px;
    color: #fff;
    position: fixed;
    border: 0
}

#dao {
    top: 0;
    right: 60px;
    background-color: #31bdec;
    padding: 5px;
    font-size: 20px;
    z-index: 9999
}

::selection {
    background-color: #fe7300
}

#import {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    z-index: 999;
}

#import h1 {
    font-size: 24px;
    margin-bottom: 10px
}

#import .input-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

#import input[type=text] {
    flex: 1;
    padding: 5px;
    margin-right: 10px
}

input button[type=file] {
    flex: 1;
    padding: 5px;
    margin-right: 10px
}

#exit,
#import button {
    background-color: #fff;
    color: #6dbd63;
    border: 0;
    padding: 5px 10px;
    cursor: pointer
}

#import hr {
    border: 1px solid #fff;
    margin: 10px 0
}

#take-photo,
.gitrepo {
    z-index: 9999;
    position: fixed;
    top: 0
}

#take-photo {
    border-radius: 5px;
    background-color: #2f4056;
    color: #fff;
    padding: 7px;
    font-size: 13px;
    right: 100px
}

#blocklyDiv {
    position: fixed;
    width: 60%;
    height: calc(100% - 40px);
}

.blocklyFlyout {
    backdrop-filter: blur(50px);
    border-radius: 4px;
    border-right: 0.001px solid rgba(255, 253, 253, 0.7);
}

.blocklyFlyoutBackground {
    opacity: 0;
}

#blocklyDiv .blocklyToolboxDiv {
    background-color: #fff;
    border-right: 1px solid #e5e7eb;
}

#blocklyDiv {
    position: absolute;
    left: 40% !important;
}

#blocklyDiv .blocklyTreeRow {
    height: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.blocklyToolboxContents {
    padding: .5em;
}

.blocklyTreeRow {
    padding: 3px;
    margin-bottom: .5em;
    border-radius: 4px;
}

#blocklyDiv .blocklyTreeSeparator {
    margin: 0
}

.gitrepo {
    right: 5px
}

#box-parent {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#theme-box {
    border-radius: 10px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 75%;
    height: 70%;
    padding: 32px;
}

#g-apk {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#g-apk-child {
    border-radius: 10px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 40%;
    height: 45%;
}

#cloudwork {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cloudwork-child {
    border-radius: 10px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 40%;
    height: 45%;
}

.datainput {
    padding: .75rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: var(--text);
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: var(--background);
    margin: .5em;
    outline: 0;
    width: calc(100% - 3em - 2px);
    transition: border .8s;
    box-shadow: var(--box-shadow);

}

body {
    background-image: url(https://static.codemao.cn/pickduck/rJ74KWDs0.jpg?hash=FsP728EZjY33-BSUhdk1AAvoYiRY);
}

.g-apk-card {
    background-color: white;
}

#mask {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 56px;
    left: 40%;
    width: 60%;
    height: calc(100% - 56px);
    z-index: 99999999999999999999999999999999999999999999999;
    display: none;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "NotoSansCJKsc-Regular";
    src:
        url("https://creation.codemao.cn/coconut/web/1.20.0/static/media/NotoSansCJKsc-Regular.35a647da.woff2") format("woff2"),
}

body {
    font-family: "NotoSansCJKsc-Regular";
}