* {
    margin: 0;
}

a {
    text-decoration: none;
}

#close {
    padding: 10px;
    background-color: white;
    font-size: 25px;
    position: absolute;
    top: 50px;
    right: 10px;
}

.nav {
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    color: black;
    background-color: white;
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .link-group {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.nav a {
    color: black;
}

.title {
    margin-top: 60px;
    text-align: center;
    align-items: center;
    background-image: url('https://cdn.myhkw.cn/open/img/mojave');
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.title .title-text {
    backdrop-filter: blur(8px);
    padding: 10px;
}

.title button {
    background-color: #0052D9;
    color: white;
    width: 90px;
    height: 40px;
    border-width: 0;
}

.feature {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background: white linear-gradient(180deg, #FFFFFF 0%, #D6DBDC 100%);
    border: 1px solid #D6DBDC;
    transition: all 0.3s ease-in-out;
}

.member {
    border-radius: 10px;
    height: 150px;
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
    background: white linear-gradient(180deg, #FFFFFF 0%, #D6DBDC 100%);
    border: 2px solid #D6DBDC;
    transition: all 0.3s ease-in-out;
}

.banquan {
    font-size: 20px;
    text-align: center;
}

.msg {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: grey;
    width: auto;
    color: white;
    opacity: 0.8;
    height: auto;
    padding: 20px;
    font-size: 20px;
    display: none;
    z-index: 1;
}

.msg p {
    white-space: nowrap;
}

.card {
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    width: 85%;
    background-color: white;
    border: 2px solid #D6DBDC;
    padding: 20px;
}

.card .double {
    display: flex;
    gap: 10px;
    width: 100%;
}

.banquan-time {
    display: block;
}